[submodule "tools/stlink"]
	path = tools/stlink
	url = https://github.com/texane/stlink
[submodule "core/mecrisp-stellaris"]
	path = core/mecrisp-stellaris
	url = https://github.com/jeelabs/mecrisp-stellaris
[submodule "core/embello"]
	path = core/embello
	url = https://github.com/jeelabs/embello
